{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:fp/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "fp",
    "react-hooks",
    "prettier"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "__": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/order": ["error", {
      "groups": [["builtin", "external"], ["internal", "parent", "sibling", "index"]],
      "newlines-between": "always"
    }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [".storybook/**", "etc/**", "stories/**", "**/__tests__/*"]
    }],
    "react/display-name": "error",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    // OFF
    "fp/no-nil": "off", // Side effects
    "fp/no-this": "off", // React
    "fp/no-mutation": "off", // React
    "fp/no-unused-expression": "off", // 'fs' calls, for example
    "react/require-default-props": "off", // Somehow semantically wrong
    "jsx-a11y/anchor-is-valid": "off", // Relative paths bullshit
    "@typescript-eslint/explicit-function-return-type": "off", // Inference, duh
    "@typescript-eslint/no-var-requires": "off", // Configs
    "@typescript-eslint/prefer-interface": "off", // Why the fuck would I?
    "@typescript-eslint/array-type": "off", // Codegen uses that
    "@typescript-eslint/ban-ts-ignore": "off" // Has its uses
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js" ,".ts", ".tsx"]
      }
    }
  }
}
